<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mexBehavior">
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <diagnostics performanceCounters="Default" />
        <services>
            <service behaviorConfiguration="mexBehavior" name="AcademyG.Week6Test.WCF.ManagementService">
                <endpoint address="http://localhost:7777" binding="basicHttpBinding"
                    bindingConfiguration="" contract="AcademyG.Week6Test.WCF.IManagementService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:7777" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>